#carrot {
    text-align: center;
    font-family: monospace;
    padding: 20px 50px;
}

#engineerData {
    width: 300px;
}

input {
    text-align: center;
}

input::placeholder {
    text-align: center;
    font-family: monospace;
}